choreographer==1.0.10
kaleido==1.0.0
logistro==1.1.0
narwhals==2.3.0
numpy==2.3.2
orjson==3.11.3
packaging==25.0
pandas==2.3.2
patsy==1.0.1
plotly==6.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.1
simplejson==3.20.1
six==1.17.0
statsmodels==0.14.5
tzdata==2025.2
